/* Google Fonts - Work Sans */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* --------------------ACCOUNT SETTINGS STARTS --------------------------- */

/* type */

.h1-account {
  font-size: 24;
  font-weight: 400;
  margin-top: 20px;
}

.h2-account {
  font-size: 20;
  font-weight: 400;
}

.h3-account {
  font-size: 14px;
  font-weight: 400;
}

.p-preferences {
  margin-bottom: 50px;
  font-size: 14px;
  color: #bababa;
}

/* type */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #92ada4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #92ada4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: white;
}

header {
  font-size: 38px;
  font-weight: 500;
  color: black;
  text-align: center;
}

form {
  margin-top: 30px;
}

.form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color: white;
}

.form .field {
  height: 45px;
  width: 100%;
  margin-top: 20px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
}

.field button a {
  text-decoration: none;
  color: white;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #c5c5c5;
  font-weight: 300;
  background-color: white;
}

.field input:focus {
  border: 1.3px solid rgb(128, 128, 128);
}

.update-btn {
  width: 189px;
  height: 46px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0;
  border: 0;
  color: black;
  background-color: #d2cbc5;
  margin-top: 20px;
}

.fieldset-container {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  position: absolute;
  width: 80vw;
  left: 40px;
  z-index: 10;
  background-color: white;
}

fieldset {
  border: 0;
  background-color: white;
}

.wrapper-account {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr;
  border: 0;
}

input::placeholder {
  opacity: 0.5;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
}

input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#billing-address {
  color: #9b9b9b;
  font-size: 12px;
}

hr {
  width: 100%;
  margin-top: 20px;
  border: 1.5px solid black;
}

#hr-preferences {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 0.3px solid #bababa;
}

.expiry-cvc-container {
  display: flex;
}

.card-details {
  margin-right: 20px;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  background-color: white;
  font-size: 25px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* .active,
.collapsible:hover {
  background-color: white;
} */

.content {
  /* display: none; */
  overflow: hidden;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
}

.h3-account {
  font-size: 14px;
  font-weight: 400;
}

.specifyColor-account {
  accent-color: grey;
}

.arrow {
  width: 25px;

  transition: all 0.2s ease-out;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 50px;
  justify-content: space-around;
}

.footer-content {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.footer-content:hover {
  text-decoration: underline;
}

.phone {
  margin: 20px;
}

.e-jura {
  display: block;
}

.h3-footer {
  font-size: 24px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* --------------------ACCOUNT SETTINGS ENDS --------------------------- */

/*------------------------------------ Media queries-------------------------------- */

@media (min-width: 750px) {
  html {
    background-color: white;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .footer {
    position: absolute;
    height: 200px;
    width: 100%;
    margin-top: 700px;
  }

  .h1-account {
    font-size: 38px;
    font-weight: 400;
  }

  .h2-account {
    font-size: 24px;
    font-weight: 400;
  }

  .h3-account {
    font-size: 20px;
    font-weight: 400;
  }

  .p-preferences {
    margin-bottom: 50px;
    font-size: 14px;
    color: #bababa;
  }

  .wrapper-account {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr;
    border: 0;
  }

  .flex-dw {
    display: flex;
    justify-content: space-between;
  }

  .grid-dw {
    display: grid;
    width: 30vw;
    /* background-color: red; */
  }

  .fieldset-container {
    display: inline-flex;
    margin-left: 200px;
    margin-top: 90px;
    width: 70vw;
    z-index: 10;
    /* height: 100vh; */
  }

  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  hr {
    width: 70vw;
  }

  #hr-preferences {
    width: 70vw;
  }

  #cardnumber {
    width: 530px;
  }

  .expiry-cvc-container {
    display: flex;
    justify-content: space-between;
    width: 550px;
  }
  .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    background-color: white;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
}
